.footer {
    position: fixed;
    bottom: 0;
    background-color: #0a0f0d;
    color: white;
    font-size: 14px;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
