.list {
    background-color: #e9ecef;
    width: 40vw;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 15vh;
}

.noItem {
    background-color: #e9ecef;
    width: 20vw;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
